@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* Định nghĩa bảng màu Jade pebble morning */
  --color-jade-500: #7B9669; /* Accent chính */
  --color-jade-900: #404E3B; /* Logo, Text, Nút chính */
  --color-jade-700: #6C8480; /* Accent phụ */
  --color-jade-200: #BAC8B1; /* Nền phụ, border */
  --color-jade-50: #E6E6E6;  /* Nền chính */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}